.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
**/*.csv
**/*.log
**/*.blg
**/*.synctex.gz
**/*.aux
**/*.out
**/*.pdf
**/*.png
**/*.dvi
**/*.nav
**/*.snm
**/*.toc
**/*.Rmd
**/*.bcf
**/*.dvi
**/*.lof
**/*.lotx
**/*.bbl
**/*.pdf
*~
\#*
.#*
*.rds
!metadata.rds
!data.rds
Longitudinal_Project.zip
*.err
glmmTMB_dir
